@import "../utils.scss";

#seperate1-container {
  justify-content: center;
  .seperater {
    border: 1px solid lightgrey;
  }
}
#whatsapp {
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    margin: 0 0.5em;
    font-size: 1.5em;
    font-weight: 700;
    color: green;
  }
}
#splitter {
  p {
    display: inline-flex;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: font(montSerrat);
    strong {
      font-family: font(baloo);
      font-weight: 100;
      font-size: 2em;
      color: color(orange);
    }
  }

  hr {
    margin-top: -0.6em;
    border: 0.5px solid color(grey);
  }
}
