@import "../utils.scss";

#seperate1-container {
  justify-content: center;
  border: 1px solid black;
}

#splitter {
  p {
    display: inline-flex;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;

    strong {
      font-family: font(baloo);
      font-weight: 100;
      font-size: 2em;
      color: color(orange);
    }
  }

  hr {
    margin-top: -0.6em;
    border: 0.5px solid color(grey);
  }
}
