@import "../../utils.scss";
#games2-desktop {
  @include mobileS {
    display: none;
  }
  @include tablet {
    display: block;
  }
  .col-sm-6 {
    margin-bottom: 0.5em;
  }
}
#big {
  img {
    height: 70%;
  }
  margin-bottom: 0.5em;
  #card-bottom {
    display: flex;
    // align-items: flex-end;
    height: 100%;
  }
}
