@import "../../utils.scss";

#mobileCards {
  font-family: font(montSerrat);
  #mobile-content {
    border: none;
  }
  @include mobileL {
    display: block;
  }
  @include tablet {
    display: none;
  }
}

#desktopCards {
  font-family: font(montSerrat);
  @include mobileS {
    display: none;
  }

  @include tablet {
    display: block;
  }
}
