@import "../../utils.scss";

#mobileCards {
  @include mobileL {
    display: block;
  }
  @include tablet {
    display: none;
  }
}
// #tabletCards {
//   @include mobileL {
//     display: none;
//   }
//   @include tablet {
//     display: block;
//   }
//   @include desktop {
//     display: none;
//   }
// }
#desktopCards {
  @include mobileS {
    display: none;
  }

  @include tablet {
    display: block;
  }
}
