@import "../../utils.scss";
#user-links {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: color(borders);
  #desktop {
    @include desktop {
      margin-left: 7em;
      margin-top: 1em;
    }
    @include desktopL {
      margin-left: 17em;
    }
    li {
      list-style-type: none;
      &:hover {
        color: color(orange);
      }
    }

    i {
      padding-top: 0.2em;
      margin: 0;
      position: relative;
      margin: 0 1em;
      &:hover {
        color: color(orange);
      }
      // left: -1em;
    }
    @include mobileS {
      display: none;
    }
    @include tablet {
      display: flex;
    }
  }
  #mobile {
    i {
      margin: 0 1.5em;
      position: relative;
      left: -1em;
    }
    @include phones {
      display: flex;
    }
    @include tablet {
      display: none;
    }
  }
}
