@import "../../utils.scss";
#user-links {
  display: flex;
  justify-content: center;
  align-items: center;
  color: color(orange);
  #desktop {
    @include desktop {
      margin-left: 2em;
      margin-top: 1em;
    }
    li {
      list-style-type: none;
    }
    i {
      padding-top: 0.2em;
      margin: 0;
      position: relative;
      margin: 0 1em;
      // left: -1em;
    }
    @include mobileS {
      display: none;
    }
    @include tablet {
      display: flex;
    }
  }
  #mobile {
    i {
      margin: 0 1.5em;
      position: relative;
      left: -1em;
    }
    // @include mobileS {
    //   display: flex;
    // }
    // @include mobileM {
    //   display: flex;
    // }
    // @include mobileL {
    //   display: flex;
    // }
    @include phones {
      display: flex;
    }
    @include tablet {
      display: none;
    }
  }
}
