@import "../utils.scss";

#nav-container {
  background-color: color(orange);
  padding: 2em 0 0.5em 0;
  font-family: font(montSerrat);
  box-shadow: 0 0.1px 0.5em #888888;
}

#nav-content {
  padding: 0;
  margin: 0;
  background-color: color(grey);
  border-top: 1px solid color(borders);
  border-bottom: 1px solid color(borders);
  display: flex;
  justify-content: space-evenly;

  .navbar-brand {
    font-family: font(baloo);
  }
  #navbar-links {
    a {
      color: color(borders);
    }
  }
}

#rightNow {
  color: color(borders);
  font-family: font(montSerrat);
  letter-spacing: -1px;
  strong {
    font-weight: 800;
  }
}
