@import "../utils.scss";

#nav-container {
  background-color: color(orange);
  padding: 2em 0;

  border: 1px solid black;
}

#nav-content {
  padding: 0;
  margin: 0;
  background-color: color(grey);
  border-top: 1px solid color(borders);
  border-bottom: 1px solid color(borders);
  display: flex;
  justify-content: space-evenly;
  .navbar-brand {
    font-family: font(baloo);
  }
  a {
    color: color(orange);
  }
}
