$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
//Bootstrap size
$phones: 576px;
$tablet: 768px;
$desktop: 992px;
$desktopL: 1200px;

@mixin mobileS {
  @media (min-width:#{$mobileS}) {
    @content;
  }
}
@mixin mobileM {
  @media (min-width:#{$mobileM}) {
    @content;
  }
}
@mixin mobileL {
  @media (min-width:#{$mobileL}) {
    @content;
  }
}
@mixin phones {
  @media (min-width:#{$phones}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width:#{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin desktopL {
  @media (min-width: #{$desktopL}) {
    @content;
  }
}
//Renk seçme function
$colors: (
  orange: orange,
  grey: grey,
  borders: white
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

//Fonts
@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
$baloo: "Baloo Bhai", cursive;
$montSerrat: "Montserrat", sans-serif;
$fonts: (
  baloo: $baloo,
  montSerrat: $montSerrat
);

@function font($font-name) {
  @return map-get($fonts, $font-name);
}
