$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
//Bootstrap size
$phones: 576px;
$tablet: 768px;
$desktop: 992px;
$desktopL: 1200px;
$wideScreen: 1441px;

@mixin mobileS {
  @media (min-width:#{$mobileS}) {
    @content;
  }
}
@mixin mobileM {
  @media (min-width:#{$mobileM}) {
    @content;
  }
}
@mixin mobileL {
  @media (min-width:#{$mobileL}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width:#{$tablet}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
@mixin desktopL {
  @media (min-width: #{$desktopL}) {
    @content;
  }
}
@mixin wideScreen {
  @media (min-width: #{$wideScreen}) {
    @content;
  }
}
//Renk seçme
$colors: (
  orange: #ff5000,
  grey: #303030,
  borders: white,
  backGround: #f5f5f5
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

//Fonts
@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Grenze&display=swap");
$baloo: "Baloo Bhai", cursive;
$montSerrat: "Montserrat", sans-serif;

$grenze: "Grenze", serif;
$fonts: (
  baloo: $baloo,
  montSerrat: $montSerrat,
  grenze: $grenze
);

@function font($font-name) {
  @return map-get($fonts, $font-name);
}
