@import "../../utils.scss";

#brand-container {
  h3 {
    color: color(orange);

    margin-top: 0.5em;
    @include mobileS {
      margin-left: 0.5em;
    }
    @include desktop {
      margin-left: 0;
    }
  }
  span {
    color: color(grey);
    position: absolute;
    top: 3em;
  }
}
