@import "../utils.scss";

#footer-container {
  margin-top: 2em;
  background-color: color(grey);
  padding: 2em 0;
}

#footer-content {
  background-color: color(orange);
}
#footer-bottom,
#footer-top {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
#footer-top {
  margin-top: -1em;
  padding-bottom: 0.7em;
}
#footer-bottom {
  font-size: 0.8em;
  font-family: font(montSerrat);
  color: rgb(192, 188, 188);
  margin-bottom: -1em;
  padding-top: 1em;
}
#brands {
  font-family: font(montSerrat);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(192, 188, 188);
  span {
    font-size: 1em;
    @include mobileS {
      font-size: 0.8em;
    }
    @include mobileM {
      font-size: 1em;
    }
  }
  div {
    padding: 0 1em;
  }
  i {
    font-size: 1.3em;
  }
}

#footer-brand {
  p {
    font-family: font(baloo);
    font-size: 2.5em;
  }
  span {
    font-size: 0.9em;
    position: relative;
    top: -2em;
    left: 0;
  }
}

#main-footer {
  font-family: font(montSerrat);
  .titles {
    font-size: 1.1em;
    font-style: italic;
    font-family: font(montSerrat);
  }
  ul {
    padding-right: 0;
  }
  li {
    list-style-type: none;
    font-size: 0.8em;
    text-align: left;
    width: 100%;
  }
}
