@import "../../../utils.scss";
#desktop-card {
  height: 100%;
  img {
    border-radius: 0;
    width: 100%;
    @include tablet {
      height: 6.5em;
    }
    @include desktop {
      height: 7.5em;
    }
    @include desktopL {
      height: 8.5em;
    }
    @include wideScreen {
      height: 10em;
    }
  }
  #badge-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    h6 {
      width: 100%;
      margin: -1em -1em 1em 0;
      @include tablet {
        font-size: 0.9em;
      }
      @include desktop {
        font-size: 1em;
      }
    }
    .badge {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  #card-bottom {
    margin-top: -0.7em;
    margin-bottom: -1em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

#card-bottom {
  @include tablet {
    font-size: 0.8em;
  }
  @include desktop {
    font-size: 1em;
  }
  #prices {
    display: flex;
    align-items: flex-end;
  }
  #net-price {
    display: grid;
    span:first-child {
      text-decoration: line-through;
    }
  }
}
