@import "../../../utils.scss";

#mobile-card {
  img {
    @include mobileS {
      width: 8em;
      height: 8em;
    }
  }
}
#mobile-card {
  display: grid;
  text-align: center;
  .card-body {
    margin-left: 0.5em;
  }
  #badge-title {
    margin-top: -1em;
  }
}
#mobile-card {
  #prices {
    display: flex;
    justify-content: space-between;
  }
}
