@import "../../utils.scss";
#bonus {
  font-family: font(grenze);
  font-size: 1.5em;
  color: color(grey);
}

#mobileCards {
  margin-top: 1em;
  font-family: font(montSerrat);

  @include mobileL {
    display: block;
  }
  @include tablet {
    display: none;
  }
}

#desktopCards {
  margin-top: 1em;
  font-family: font(montSerrat);

  @include mobileS {
    display: none;
  }

  @include tablet {
    display: block;
  }
}
