@import "../../utils.scss";
#bonus {
  font-family: font(grenze);
  font-size: 1.5em;
  color: color(grey);
}
.card {
  border: none;
  background-color: color(backGround);
  border-radius: 0;
}
#mobileCards {
  font-family: font(montSerrat);

  @include mobileL {
    display: block;
  }
  @include tablet {
    display: none;
  }
}

#desktopCards {
  font-family: font(montSerrat);

  @include mobileS {
    display: none;
  }

  @include tablet {
    display: block;
  }
}
